*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 1s;
}

body{
    display: flex;

}

$colorAside : rgb(75, 75, 75);

main{
    background-color: white;
    width: 75%;
    height: 100vh;
    padding: 3%;
    min-height: 1000px;
    h1{
        color: black;
        text-align: center;
        text-transform: uppercase;
    }
    p{
        margin-top: 30px;
        text-align: justify;
        &::first-letter{
            font-size: 50px;
            font-weight: bold;
        }
    }
}

aside{
    background-color : $colorAside;
    min-height: 1000px;
    height: 100vh;
    width: 15%;
    min-width: 250px;

    .icone{
        height: 13%;
        border-bottom: 2px solid gray;
        position: relative;

        i{
            position: absolute;
            font-size: 70px;
            color: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .menu{
        display: flex;
        flex-direction: column;
    }

}


h1{
    margin-left: 5%;
    cursor: pointer;
    color: whitesmoke;
}

ul{
    list-style-type: none;

}

li{
    line-height: 30px;
    cursor: pointer;
    &:hover{
        background-color: lighten($colorAside, 20%);
    }
    p{
        margin-left: 8%;
    }
}

.menu_item{
    background-color: lighten($colorAside, 10%);
    border-radius: 5px;
    margin-top: 50px;
    overflow: hidden;
    height: 30px;
    transition-duration: 1s;
    transition-delay: 0.5s;
    &:hover{
        height: 200px;
        transition-delay: 0s;
    }
    &:hover i{
        transform: rotate(90deg);
        transition-delay: 0s;
    }
}


.active{
    height: 200px !important;
}